
.profile__avatar-edit {
    display: block;
    position: relative;
    margin-right: 30px;
    cursor: pointer;
  }
  
  .profile__avatar-edit::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
  }
  
  .profile__avatar-edit::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../../../images/edit-button.svg) center no-repeat;
    background-size: 26px;
    opacity: 0;
  }
  
  .profile__avatar-edit:hover::before, .profile__avatar-edit:hover::after {
    opacity: 1;
    transition: .4s ease-in;
  }
  