@import url(./__avatar/profile__avatar.css);
@import url(./__avatar-edit/profile__avatar-edit.css);
@import url(./__info/profile__info.css);
@import url(./__edit-form/profile__edit-form.css);
@import url(./__title/profile__title.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__subtitle/profile__subtitle.css);
@import url(./__add-button/profile__add-button.css);

.profile{
    max-width: 882px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px){
    .profile{
        margin: 0 24px;
    }
}
  @media screen and (max-width: 767px){
    .profile{
      flex-direction: column;
      align-items: center;
    }
}