.popup__container {
    max-width: 430px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    padding: 36px;
    padding-top: 34px;
}
@media screen and (max-width: 767px){
    .popup__container{
        width: 240px;
        padding: 20px;
        padding-top: 30px;
    }
}